<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
 
  <div class="container">


<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>  
  <%= button_to "Eliminar Pelicula", @movie, method: :delete, class: "btn btn-secondary"%>
</div>

</div>
</div>