<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="container">


   

<p style="color: green"><%= notice %></p>


 <h1 class="text-center">Cliente</h1>


<%= render @client %>

    <div class="d-flex justify-content-center">

  <%= button_to "Eliminar Cliente", @client, method: :delete, class: "btn btn-secondary"%>
</div>
</div>
</div>